@model SearchResponseModel
@{
    ViewData["Title"] = "Search Page";
}

<form method="Get" action="">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search text..." id="search-text" name="searchText">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

@if (Model != null)
{
    <div class="container">
        <div>
            @Model.Data
        </div>

        @foreach (var result in Model.SearchResults)
        {
            <div>
                <a target="_blank" href="@result.Url">@result.HeaderLinkText</a>
            </div>
            <div>
                @result.PreviewData
            </div>
        }
    </div>
}

@section scripts {
    <script>
        function search(id) {
            var inputValue = $('#search-text').val();

            var request = JSON.stringify({ searchText: inputValue });
            $.ajax({
                type: "POST",
                url: '/Search',
                contentType: "application/json; charset=utf-8",
                data: request,
                dataType: 'json'
            }).done(function () {
                console.log("succes");
            });
        }
    </script>
}